aws ecr get-login-password --region us-east-1 --profile weather-ecr-agent | docker login --username AWS --password-stdin 123456789012.dkr.ecr.us-east-1.amazonaws.com
docker buid -f ./Dockerfile -t weather-temperature:latest .
docker tag weather-temperature:latest 123456789012.dkr.ecr.us-east-1.amazonaws.com/weather-temperature:latest
docker push 123456789012.dkr.ecr.us-east-1.amazonaws.com/weather-temperature:latest