aws ecr get-login-password --region sa-east-1 --profile weather-ecr-agent | docker login --username AWS --password-stdin 123456789012.dkr.ecr.sa-east-1.amazonaws.com
docker buid -f ./Dockerfile -t weather-data-loader:latest .
docker tag weather-data-loader:latest 123456789012.dkr.ecr.sa-east-1.amazonaws.com/weather-data-loader:latest
docker push 123456789012.dkr.ecr.sa-east-1.amazonaws.com/weather-data-loader:latest